/*Custom theme css to override the adhocracy css*/

/*Body*/
body {
  background: #fff url(/static_theme/index_files/body_bg.jpg);
}

/*Header*/
#header {
  background: none;
}

#logo,
#topnav .follow {
  display:none;
}
#nav {
  height:auto;
  padding-top: 0;
  font-weight: normal;
}
#header.logged_in #nav li a,
#header.logged_in #nav li,
#nav li a,
#nav li {
  height: 24px;
  padding-top: 2px;
  padding-bottom: 3px;
}
#nav li.current {
background: url("/static_theme/index_files/gradient_navi_highlight.jpg") repeat-x scroll right bottom transparent;
}
#header .page_margins {
  margin-top: 15px;
  height: 106px;
  background: transparent url(/static_theme/index_files/logo.png) bottom left no-repeat;
  margin-bottom: 15px;
}
#header .page_wrapper,
#header.logged_in .page_wrapper {
  height: 29px;
  background: url('/static_theme/index_files/header_bg_gradient.png') top repeat-x transparent;
}

/*Content section*/
#footer,
#flash_message,
#subheader, 
#welcome_message, 
#main {
  background: transparent;
}
#flash_message {
padding-bottom: 15px;
}
#flash_message .page_wrapper {
  background: #FFFDE4;
} 
#subheader {
  padding-top: 0;
  margin-bottom: 0;
  max-height: initial;
}
#subheader .page_wrapper {
  background: url('/static_theme/index_files/white-50.png') repeat bottom center;
  /* padding-top: 27px;*/
  height: 100px;
} 
#subnav,
#searchbox {
  padding-top: 10px;
}
#subnav{
  padding-left: 4px;
}


#organisation_logo {
  padding-top: 19px;
}

#main {
  margin: 0;
}

#main .page_margins {
  display:table; 
  border-collapse:collapse; 
}
#main .page_wrapper {
  padding: 40px 0 60px;
  background: #fff;
  min-height: 60em;
  /*TODO: use table row instead of min-height here*/
  /*display:table-row; */
} 
#main #col1 {
  /*display:table-cell; */
}
#main aside {
  /*display:table-cell; */
}
#footer .page_wrapper {
  background: url('/images/gradient_footer.jpg') repeat-x top left #e5e6e8; 
}

/*Tabs onboarding aboutpage*/
#main .ui-tabs {
  border:none;
}  
#main .ui-tabs .ui-tabs-panel {
    padding:0;
}
#main .ui-tabs-nav {
  clear: none;
  height: 36px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin: 0px;
  padding-top: 29px;
}
#main .ui-tabs-nav li {
  height: 36px;
  line-height: 36px;
  background: url('/images/sprite_tab_navigation.png') repeat-x 0 -60px;
}
#main .ui-tabs-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 0 19px;
  display: block;
}
#main .ui-tabs-nav li.ui-state-active a {
  color: #2D3441;
}
#main .ui-tabs-nav li.ui-state-active {
  background: url('/images/sprite_tab_navigation.png') repeat-x 0 -10px;
}
#main .ui-tabs-nav li:hover a {
  color: #fff;
}
#main .ui-tabs-nav li:hover {
  background: url('/images/sprite_tab_navigation.png') repeat-x 0 -111px;
}
#main .ui-tabs-nav li {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;   
  border: none;
}

#main .ui-widget-header {
  border:none;
  background: url('/static_theme/index_files/white-50.png') repeat bottom center;
}
#main .put-nav {
  display:none;
}
#main .put-next {
  background: transparent;
  display:inline;
}

label.armhint {
    display: none;
}

h1, h2, h3, h4, h5, h6, h7 {
font-family: Georgia,Times New Roman,Times,serif;
}
