/*Custom theme css to override the adhocracy css*/

/*Body*/
body {
    background: #fff url(/static_theme/index_files/body_bg.jpg);
    padding: 1em 0 2em;
}
html.overlay body {
    background: none;
    padding: 0;
}

/*Content section*/
#footer,
#flash_message,
#subheader,
#welcome_message,
#main {
    background: transparent;
}
#welcome_message .page_wrapper {
    overflow: hidden;  // clearfix
    background: white;
}

#flash_message .page_wrapper {
    background: #FFFDE4;
}
#subheader {
    padding-top: 0;
    margin-bottom: 0;
    max-height: initial;
}
#subheader .page_wrapper {
    background: url('/static_theme/index_files/white-50.png') repeat bottom center;
}

#subnav,
#searchbox {
    padding-top: 10px;
}
#subnav{
    padding-left: 4px;
}

#organisation_logo {
    padding-top: 19px;
    float: none;
}
#logo_row {
    height: auto;
}

// give #main white background (including margins)
#main {
    margin: 0;

    .page_wrapper {
        background-color: white;
        padding: 1em 0 3em;
    }
}
html.overlay #main .page_wrapper {
    padding: 0;
}

/*Footer*/

#footer .page_wrapper {
    background: #445052 url('/static_theme/index_files/footer_hintergrund.gif') top left repeat-x;
    color: #fff;
    padding-bottom: 1em;
}
#second_footer_line,
#footer_line {
    background:none;
}
#footer ul {
    list-style-image: url('/static_theme/index_files/list-item-bar.png');
}
#footer, .footer_content h3, .footer_content a {
    color: #fff;
}
.footer_content a {
    text-decoration: none;
}
.footer_content a:hover {
    text-decoration: underline;
}
.footer_content {
    border: none;
}

/* Menu in the right column */

#col3 .widget-container {
    padding-right: 2em;
}

.subpages {
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li {
        padding-top: 0.3em;
    }
    ul {
        list-style-type: none;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .current_page_item > a {
        font-weight: bold;
    }
}

#tutorial-banner {
    background-color: white;
    padding: 1px;
}
